# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/
dist/
build/

# Secrets
.env

# Data & artifacts
data/*
!data/.gitkeep
models/*
!models/.gitkeep
vectorstore/*
!vectorstore/.gitkeep

# VS Code
.vscode/
